OPENSEARCH_HOST=opensearch-node
OPENSEARCH_PORT=9200

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

DB_HOST=backend-database
DB_PORT=5432
DB_NAME=fondasikehidupan
DB_USERNAME=postgres
DB_PASSWORD=postgres
